/* Reset CSS para limpar margens e preenchimentos padrão */
html,
body {
    margin: 0;
    padding: 0;
}

/* Estilos para o header e o menu */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#navMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#navMenu ul li {
    margin: 0 10px;
}

#navMenu ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

#navMenu ul li a:hover {
    color: #ffcc00;
}

/* Estilos para o conteúdo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
button {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"],
input[type="reset"],
button {
    width: 48%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
    background-color: #555;
}

/* Estilos para a barra lateral */
#sidebar {
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0 auto; 
    width: 70%; 
    text-align: left; 
}



#sidebar form {
    display: inline-block;
    width: 100%; /* Ajusta o formulário para ocupar toda a largura da barra lateral */
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 70%;
    text-align: left;
    margin-top: 20px; /* Adiciona margem acima da lista de links */
}

#sidebar ul li {
    margin-bottom: 10px;
}

#sidebar ul li h2 {
    margin-bottom: 5px;
    color: #ffcc00;
    font-size: 18px;
    border-bottom: 1px solid #ffcc00;
    padding-bottom: 5px;
    text-align: center;
}

#sidebar ul li ul {
    padding-left: 15px;
    text-align: left;
}

#sidebar ul li ul li {
    margin-bottom: 5px;
}

#sidebar ul li ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

#sidebar ul li ul li a:hover {
    color: #ffcc00;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}
