/* Reset CSS para limpar margens e preenchimentos padrão */
html,
body {
    margin: 0;
    padding: 0;
}

/* Estilos para o header e o menu */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#navMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#navMenu ul li {
    margin: 0 10px;
}

#navMenu ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

#navMenu ul li a:hover {
    color: #ffcc00;
}

/* Estilos para o conteúdo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

legend {
    font-weight: bold;
}

input[type="text"],
input[type="submit"] {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #555;
}

/* Estilos para a barra lateral */
#sidebar {
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 20px;
}

#sidebar form input[type="text"],
#sidebar form input[type="password"],
#sidebar form input[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    margin-bottom: 10px;
}

#sidebar ul li h2 {
    margin-bottom: 5px;
    color: #ffcc00;
    font-size: 18px;
    border-bottom: 1px solid #ffcc00;
    padding-bottom: 5px;
}

#sidebar ul li ul {
    padding-left: 15px;
}

#sidebar ul li ul li {
    margin-bottom: 5px;
}

#sidebar ul li ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

#sidebar ul li ul li a:hover {
    color: #ffcc00;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}
