/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline;
    margin-right: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

#sidebar {
    color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center; 
    background-color: #333; 
}

#sidebar form {
    max-width: 300px;
    margin: 0 auto;
}

#sidebar form input[type="text"],
#sidebar form input[type="password"],
#sidebar form input[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left; 
}

#sidebar ul li {
    margin-bottom: 10px;
}

#sidebar ul li h2 {
    margin-bottom: 5px;
    color: #ffcc00;
    font-size: 18px;
    border-bottom: 1px solid #ffcc00;
    padding-bottom: 5px;
}

#sidebar ul li ul {
    padding-left: 15px;
}

#sidebar ul li ul li {
    margin-bottom: 5px;
}

#sidebar ul li ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

#sidebar ul li ul li a:hover {
    color: #ffcc00;
}

.logged-in #sidebar {
    background-color: #333; 
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para o botão de login */
#sidebar form input[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#sidebar form input[type="submit"]:hover {
    background-color: #555;
}
